<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sast.onlineexams.mbg.mapper.CmsAnswerDispatchesMapper">
  <resultMap id="BaseResultMap" type="sast.onlineexams.mbg.model.CmsAnswerDispatches">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="answer_id" jdbcType="BIGINT" property="answerId" />
    <result column="problem_id" jdbcType="BIGINT" property="problemId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="solved" jdbcType="BIT" property="solved" />
    <result column="score" jdbcType="INTEGER" property="score" />
    <result column="dispatched_at" jdbcType="TIMESTAMP" property="dispatchedAt" />
    <result column="expired_at" jdbcType="TIMESTAMP" property="expiredAt" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, answer_id, problem_id, user_id, solved, score, dispatched_at, expired_at
  </sql>
  <select id="selectByExample" parameterType="sast.onlineexams.mbg.model.CmsAnswerDispatchesExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cms_answer_dispatches
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cms_answer_dispatches
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from cms_answer_dispatches
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="sast.onlineexams.mbg.model.CmsAnswerDispatchesExample">
    delete from cms_answer_dispatches
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="sast.onlineexams.mbg.model.CmsAnswerDispatches">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into cms_answer_dispatches (answer_id, problem_id, user_id, 
      solved, score, dispatched_at, 
      expired_at)
    values (#{answerId,jdbcType=BIGINT}, #{problemId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, 
      #{solved,jdbcType=BIT}, #{score,jdbcType=INTEGER}, #{dispatchedAt,jdbcType=TIMESTAMP}, 
      #{expiredAt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="sast.onlineexams.mbg.model.CmsAnswerDispatches">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into cms_answer_dispatches
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="answerId != null">
        answer_id,
      </if>
      <if test="problemId != null">
        problem_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="solved != null">
        solved,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="dispatchedAt != null">
        dispatched_at,
      </if>
      <if test="expiredAt != null">
        expired_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="answerId != null">
        #{answerId,jdbcType=BIGINT},
      </if>
      <if test="problemId != null">
        #{problemId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="solved != null">
        #{solved,jdbcType=BIT},
      </if>
      <if test="score != null">
        #{score,jdbcType=INTEGER},
      </if>
      <if test="dispatchedAt != null">
        #{dispatchedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="expiredAt != null">
        #{expiredAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="sast.onlineexams.mbg.model.CmsAnswerDispatchesExample" resultType="java.lang.Long">
    select count(*) from cms_answer_dispatches
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cms_answer_dispatches
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.answerId != null">
        answer_id = #{record.answerId,jdbcType=BIGINT},
      </if>
      <if test="record.problemId != null">
        problem_id = #{record.problemId,jdbcType=BIGINT},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.solved != null">
        solved = #{record.solved,jdbcType=BIT},
      </if>
      <if test="record.score != null">
        score = #{record.score,jdbcType=INTEGER},
      </if>
      <if test="record.dispatchedAt != null">
        dispatched_at = #{record.dispatchedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.expiredAt != null">
        expired_at = #{record.expiredAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cms_answer_dispatches
    set id = #{record.id,jdbcType=BIGINT},
      answer_id = #{record.answerId,jdbcType=BIGINT},
      problem_id = #{record.problemId,jdbcType=BIGINT},
      user_id = #{record.userId,jdbcType=BIGINT},
      solved = #{record.solved,jdbcType=BIT},
      score = #{record.score,jdbcType=INTEGER},
      dispatched_at = #{record.dispatchedAt,jdbcType=TIMESTAMP},
      expired_at = #{record.expiredAt,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="sast.onlineexams.mbg.model.CmsAnswerDispatches">
    update cms_answer_dispatches
    <set>
      <if test="answerId != null">
        answer_id = #{answerId,jdbcType=BIGINT},
      </if>
      <if test="problemId != null">
        problem_id = #{problemId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="solved != null">
        solved = #{solved,jdbcType=BIT},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="dispatchedAt != null">
        dispatched_at = #{dispatchedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="expiredAt != null">
        expired_at = #{expiredAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="sast.onlineexams.mbg.model.CmsAnswerDispatches">
    update cms_answer_dispatches
    set answer_id = #{answerId,jdbcType=BIGINT},
      problem_id = #{problemId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT},
      solved = #{solved,jdbcType=BIT},
      score = #{score,jdbcType=INTEGER},
      dispatched_at = #{dispatchedAt,jdbcType=TIMESTAMP},
      expired_at = #{expiredAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>