<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sast.onlineexams.mbg.mapper.CmsProblemScoresMapper">
  <resultMap id="BaseResultMap" type="sast.onlineexams.mbg.model.CmsProblemScores">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="problem_id" jdbcType="BIGINT" property="problemId" />
    <result column="max_score" jdbcType="INTEGER" property="maxScore" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="sast.onlineexams.mbg.model.CmsProblemScores">
    <result column="standard_answer" jdbcType="LONGVARCHAR" property="standardAnswer" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, problem_id, max_score
  </sql>
  <sql id="Blob_Column_List">
    standard_answer
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="sast.onlineexams.mbg.model.CmsProblemScoresExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from cms_problem_scores
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="sast.onlineexams.mbg.model.CmsProblemScoresExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cms_problem_scores
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from cms_problem_scores
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from cms_problem_scores
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="sast.onlineexams.mbg.model.CmsProblemScoresExample">
    delete from cms_problem_scores
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="sast.onlineexams.mbg.model.CmsProblemScores">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into cms_problem_scores (problem_id, max_score, standard_answer
      )
    values (#{problemId,jdbcType=BIGINT}, #{maxScore,jdbcType=INTEGER}, #{standardAnswer,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="sast.onlineexams.mbg.model.CmsProblemScores">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into cms_problem_scores
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="problemId != null">
        problem_id,
      </if>
      <if test="maxScore != null">
        max_score,
      </if>
      <if test="standardAnswer != null">
        standard_answer,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="problemId != null">
        #{problemId,jdbcType=BIGINT},
      </if>
      <if test="maxScore != null">
        #{maxScore,jdbcType=INTEGER},
      </if>
      <if test="standardAnswer != null">
        #{standardAnswer,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="sast.onlineexams.mbg.model.CmsProblemScoresExample" resultType="java.lang.Long">
    select count(*) from cms_problem_scores
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cms_problem_scores
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.problemId != null">
        problem_id = #{record.problemId,jdbcType=BIGINT},
      </if>
      <if test="record.maxScore != null">
        max_score = #{record.maxScore,jdbcType=INTEGER},
      </if>
      <if test="record.standardAnswer != null">
        standard_answer = #{record.standardAnswer,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update cms_problem_scores
    set id = #{record.id,jdbcType=BIGINT},
      problem_id = #{record.problemId,jdbcType=BIGINT},
      max_score = #{record.maxScore,jdbcType=INTEGER},
      standard_answer = #{record.standardAnswer,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cms_problem_scores
    set id = #{record.id,jdbcType=BIGINT},
      problem_id = #{record.problemId,jdbcType=BIGINT},
      max_score = #{record.maxScore,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="sast.onlineexams.mbg.model.CmsProblemScores">
    update cms_problem_scores
    <set>
      <if test="problemId != null">
        problem_id = #{problemId,jdbcType=BIGINT},
      </if>
      <if test="maxScore != null">
        max_score = #{maxScore,jdbcType=INTEGER},
      </if>
      <if test="standardAnswer != null">
        standard_answer = #{standardAnswer,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="sast.onlineexams.mbg.model.CmsProblemScores">
    update cms_problem_scores
    set problem_id = #{problemId,jdbcType=BIGINT},
      max_score = #{maxScore,jdbcType=INTEGER},
      standard_answer = #{standardAnswer,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="sast.onlineexams.mbg.model.CmsProblemScores">
    update cms_problem_scores
    set problem_id = #{problemId,jdbcType=BIGINT},
      max_score = #{maxScore,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>